<div class="parent">

    <!DOCTYPE html>
    <html lang="en">
    <head>
    
        <title></title>
     
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    
    </head>
    <body>
        <div class="background">
            <div class="shape"></div>
            <div class="shape"></div>
        </div>
        <form>
            <h3>Signup Here</h3>
    
            <label for="username">Username</label>
            <input type="text" name="username" [(ngModel)]="signupObj.username" placeholder="username" id="username">
    
            <label for="password">Password</label>
            <input type="password" name="password" [(ngModel)]="signupObj.password" placeholder="Password" id="password">
    
            <button (click)="onSignup()" >Signup</button>
            <div class="social">
                <a href="login"><div class="go">Go to login</div></a>
              
              <!-- <div class="fb"><i class="fab fa-facebook"></i>  Facebook</div> -->
            </div>
        </form>
    </body>
    </html>
</div>

